# Doppl-E - Validation & Results

## Overview
Validation & Results contains the experimental design, prediction, results, and analysis of the main experimental deployment of Doppl-E. This centralized experiment was designed to answer two questions:<br>
1. Can Doppl-E detect a moving object at a realistic distance?
2. How accurate is the speed estimate provided by Doppl-E Lab?
Additionally, this document serves as the direct sequel to [Design Calculations](/docs/design_calculations.md). Design Calculations demonstrated the mathematical design behind Doppl-E's hardware and operations, while Validation and Results showcases the effectiveness of the functional radar system.<br>
The outcome demonstrated accuracy in the figures derived in Design Calculations, consistent detection of moving objects, with a mean velocity error of 23.5%, which is consistent with expected sources of error discussed in the error analysis section

## Expirimental Setup
🚧 Coming soon! 🚧
## Theoretical Predictions
🚧 Coming soon! 🚧
## Results
🚧 Coming soon! 🚧
## Error Analysis
🚧 Coming soon! 🚧
## Conculsions
🚧 Coming soon! 🚧
## Future work
🚧 Coming soon! 🚧
---
*Jubal Clapp | Electrical Engineering @ Queen's University | Summer 2026*